body{
    background-color: aquamarine;
    margin: 10 10 10 10;

}
header{
    text-align: center;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5 5 5 5;
    padding: 5;
    height: 100px;
    
}
.titulodapagina {
    background-color: bisque;
}
header p{
    font-weight: bolder;
}
main {
    background-color: grey;
    margin: 0 10 10 10;
    padding: 10px 10px 10px 10px;
}
img {
    max-width: 100%;
    border-radius: 20px;
}
h2{
    text-align: center;
}
section{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
       
}
 section p::first-letter{
    text-transform: uppercase;
    font-size:xx-large;
    color: red;
 }