body{
    background-color: aquamarine;
    margin: 10 10 10 10;

}
header{
    background-image: linear-gradient(burlywood, white);
    padding: 10px 10px 10px 10px;
    
}

header img{
    
    max-height: 100px;
    border-radius: 5px;
    margin: 10 10 10 10;
}
main {
    background-color: white;
    margin: 0 10 10 10;
    padding: 10px 10px 10px 10px;
}
img {
    max-width: 100%;
    border-radius: 20px;
    
}
h2{
    text-align: center;
}
section{
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: dotted 3px;
    border-color: red;
    box-shadow: black 8px 8px;
    
}
.primeiraletra::first-letter{
    text-transform: uppercase;
    font-size:xx-large;
    color: red;
}
.exposicao{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.vendase{
    background-color: white;
    color: black;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}
.vendase img{
    max-width: 100%;
    border-radius: 20px;
    max-height: 100%;
}
.vendasd{
    background-color: black;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}
.vendasd img{
    max-width: 100%;
    border-radius: 20px;
    max-height: 100%;
}
.tituloproduto{
    background-color: aqua;
    border-radius: 20px;
    color: black;
    padding: 10px 10px 10px 10px;
}

 footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(white, burlywood);
    padding: 20px 20px 20px 20px;
    font-weight: bolder;
    

 }